
@{
    ViewBag.Title = "LoadCategory";
}
<h2>Order Details</h2>

@using (Html.BeginForm())
{
    <br />
    <div style="width:350px">
       
        @Html.Label("emplloyee  ID =   ")
        @Html.Label(Session["EmpID"].ToString())
        @Html.Label("  order  ID =   ")
        @Html.Label(Session["OrderID"].ToString())
        @Html.Label("   Date =   ")
        @Html.Label(DateTime.Today.Date.ToString())
        <br />
    </div>
    <br />
    <div>
        @Html.Label("select Category")

        @if (ViewData.ContainsKey("Category"))
        {
            @Html.DropDownList("Category", ViewData["Category"] as List<SelectListItem>, "Please select a Category", new { style = "width:250px", @class = "dropdown1" })
            <label id="ErrorLblCategory"></label>
        }
    </div>
    <br />
    <div>
        @Html.Label("select Product")
        @Html.DropDownList("Product", new SelectList(string.Empty, "Value", "Text"), "Please select a product", new { style = "width:250px", @class = "dropdown1" })
        <label id="ErrorLblProduct"></label>
    </div>
    <br />
    <div>
        @Html.Label("select Product size")
        @Html.DropDownList("ProductSize", new SelectList(string.Empty, "Value", "Text"), "Please select Product Size", new { style = "width:250px", @class = "dropdown1" })
        <label id="ErrorLblProductSize"></label>
        <label id="Unit">Unit</label>
    </div>
    <br />
    <div>
        @Html.Label("select Supplier")
        @Html.DropDownList("Supplier", new SelectList(string.Empty, "Value", "Text"), "Please select Suplier", new { style = "width:250px", @class = "dropdown1" })
        <label id="ErrorLblSupplier"></label>
    </div>
    <br />
    <div>
        @Html.Label("Quantity")
        <input id="QuantityTextbox" type="number" value="" />
        <label id="ErrorLblQuantity"></label>
    </div>
    <br />
    <div>
        <button id="AddProductBtn" name="AddProductBtn">Save Product </button>
        <button id="OrderBtn" name="OrderBtn" type="submit"> Save Order </button>
        <br />
    </div>   
    <div class=" form-horizontal"  style="width:850px">
        @Html.Label("Ordered Items Detail")
        <br />
        @*WebGrid grid = new WebGrid(ViewBag.Items);  *@ @*will be used when converting to grid*@
        <div id="ResultArea"> </div>
    </div>
}
<script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
@*/////////////////////////////  getting data in cascading dropdowns\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*@
<script type="text/javascript">
    $(document).ready(function () {
        CreateHtmlTable();
        
    });
 /////////////////////////////Get Product on Category index change\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        $("#Category").change(function () {
            $("#Product").empty();
            $("#ProductSize").empty();
            $("#Supplier").empty();
            $("#QuantityTextbox").val("");
            $("#Product").append('<option value="' + "0" + '">' + "----select----" + '</option>');
            $.ajax({
                type: 'POST', url: '@Url.Action("GetProduct")', dataType: 'json', data: { id: $("#Category").val() },
                success: function (Products) {
                    $.each(Products, function (i, Product) {
                        $("#Product").append('<option value="' + Product.Value + '">' + Product.Text + '</option>');
                    });
                    document.getElementById("ErrorLblProduct").innerHTML = " ";
                },
                error: function (ex) { document.getElementById("ErrorLblProduct").innerHTML = "please Select a Product"; }
            });
 ////////////////////////////////////Get unit of Category on index change\\\\\\\\\\\\\\\\\\\\\\\\\\
            $.ajax({
                type: 'POST', url: '@Url.Action("GetUnit")', dataType: 'json', data: {id: $("#Category").val() },
                success: function (Units) {
                    $.each(Units, function (i, unit) {
                        document.getElementById("Unit").innerHTML = unit.Text;
                        document.getElementById("ErrorLblCategory").innerHTML = " ";
                    });
                },
                error: function (ex) { document.getElementById("ErrorLblCategory").innerHTML = "please Select a Category"; }
            });
            return false;
        });
//////////////////////Get Productsize of respective product\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        $("#Product").change(function () {
            $("#ProductSize").empty();
            $("#Supplier").empty();
            $("#ProductSize").append('<option value="' + "0" + '">' + "----select----" + '</option>');
            $.ajax({
                type: 'POST', url: '@Url.Action("GetProductSize")', dataType: 'json',
                data: { id: $("#Product").val() },
                success: function (Sizez) {
                    $.each(Sizez, function (i, Size) {
                        $("#ProductSize").append('<option value="' + Size.Value + '">' + Size.Text + '</option>');
                    });
                    document.getElementById("ErrorLblProductSize").innerHTML = " ";
                },
                error: function (ex) { document.getElementById("ErrorLblProductSize").innerHTML = "please Select Size/ Strenth"; }
            });
            return false;
        });
 //////////////////////////////////Get supplier list of specific product\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        $("#ProductSize").change(function () {
            $("#Supplier").empty();
            $("#Supplier").append('<option value="' + '0' + '">' + '---Select---' + '</option>');
            $.ajax({
                type: 'POST', url: '@Url.Action("GetSupplier")', dataType: 'json',
                data: { id: $("#ProductSize").val() },
                success: function (supplierz) {
                    $.each(supplierz, function (i, supplier) {
                        $("#Supplier").append('<option value="' + supplier.Value + '">' + supplier.Text + '</option>');
                    });
                    document.getElementById("ErrorLblSupplier").innerHTML = " ";
                },
                error: function (ex) { document.getElementById("ErrorLblSupplier").innerHTML = "please Select supplier"; }
            });
            return false;
        })
</script>

<script type="text/javascript">
    ///////////////////////////// add row in table on button click Add product\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    $('#AddProductBtn').click(function (e) {
        e.preventDefault();
        if ($("#QuantityTextbox").val() < 1 || $("#QuantityTextbox").val().length < 1) {
            document.getElementById("ErrorLblQuantity").innerHTML = "please  enter a valid Quantity"
        }
        else if ($('#Supplier :selected').val() < 1 || $('#Supplier :selected').val() == null) {
            document.getElementById("ErrorLblSupplier").innerHTML = "please select supplier"
        }
        else {
            document.getElementById("ErrorLblQuantity").innerHTML = " "
            document.getElementById("ErrorLblSupplier").innerHTML = " "
            $.ajax({
                type: 'POST', url: '@Url.Action("AddOrderDetail")', dataType: 'json',
                    data: { ProductSuppliedID: $('#ProductSize :selected').val(), SupplierID:$('#Supplier :selected').val(), quantity: $("#QuantityTextbox").val()  },
                    success: function (supplierz) {
                        CreateHtmlTable();
                        },
                    error: function (ex) { alert("Record not saved"); }
                });

            CreateHtmlTable();
        }
        });
   ///////////////////////////// add row in table on button click Add product\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        $('#OrderBtn').click(function (e) {
            e.preventDefault();

        });

    ///////////////////////////// gridContent\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        function CreateHtmlTable() {
            //Clear result div
            $("#ResultArea").html("");

            //Crate table html tag
            var table = $("<table id=DynamicTable border=1 class=table-striped ></table>").appendTo("#ResultArea");

            //Create table header row
            var rowHeader = $("<tr></tr>").appendTo(table);
            $("<td></td>").text("Sr.No").appendTo(rowHeader);
            $("<td></td").text("Category").appendTo(rowHeader);
            $("<td></td>").text("Product").appendTo(rowHeader)
            $("<td></td>").text("Size").appendTo(rowHeader);
            $("<td></td>").text("Suplier").appendTo(rowHeader);
            $("<td></td>").text("Quantity").appendTo(rowHeader);
            $("<td></td>").text("Deleted").appendTo(rowHeader);

            //Get JSON data by calling action method in controller
            $.get('/OrderAndHistory/GetOrders', function (data) {
                $.each(data, function (i, value) {

                    //Create new row for each record
                    var row = $("<tr></tr>").appendTo(table);
                    $("<td></td>").text(value.Id).appendTo(row);
                    $("<td></td>").text(value.CategoryName).appendTo(row);
                    $("<td></td>").text(value.ProductName1).appendTo(row);
                    $("<td></td>").text(value.Size).appendTo(row);
                    $("<td></td>").text(value.SupplierName).appendTo(row);
                    $("<td></td>").text(value.Quantity).appendTo(row);
                    $("<td></td>").text("delete").appendTo(row);
                });
            });
        }
</script>