@{
    ViewBag.Title = "OrderIndex";
     }
<div class="clearfix" style="clear:both; flex-wrap:nowrap">
<div class="navbar-header navbar clearfix" style="display:block" >
    <br />
    <ul class="nav nav-tabs nav-stacked" style="width:170px">
        <li style="list-style-type:none"><a href="~/Shared/_Layout.cshtml">Home</a></li>
        <li style="list-style-type:none"><a href="~/OrderAndHistory/OrderIndex.cshtml">Order Index</a></li>
        <li style="list-style-type:none"><a href=" ~/Category/Index.cshtml">Category</a></li>
    </ul>
</div>
<center>
    <div class="modal-content col-lg-offset-2 navbar" >
        <h2>Orders</h2>

        @using (Html.BeginForm())
        {
            var grid = new WebGrid(Model, rowsPerPage: 5, canPage: true, canSort: true, sortFieldName: "orderDate", ajaxUpdateContainerId: "DataGridOrders");
    var ordr = ViewData["newOrders"];
     <br />
            <div >
                @Html.Label("emplloyee  ID =   ")
                @Html.Label(Session["EmpID"].ToString())
                @Html.Label("   Date =   ")
                @Html.Label(DateTime.Today.Date.ToString())
                <br />
            </div>
            <br />

            <div id="create new order" style="width:50%; align-content:center;background-color:lightgray">
                <table style="width:100%;">
                    <tr>
                        <td>@Html.Label("User Name")</td>
                        <td>@Html.Label("Date")</td>
                        <td>@Html.Label("Status")</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(this.Session["userName"].ToString())</td>
                <td><input type="text" id="datepicker" class="span2 datepicker" placeholder="Date..." name="date"></td>
                <td>@Html.Label("Draft")</td>
                <td><button id="saveOrder">Save Order</button> </td>
                    </tr>
                </table>
          </div>
    <label id="errorlable" style="color:red"></label>
            <br />
            <br />
            <div>
        @*<div id="OrderGrid"></div>*@

                <div id="OrderGrid2" style="align-content:center;width:inherit;background-color:lightgoldenrodyellow;">
                    @grid.GetHtml(
                tableStyle: "table",
                headerStyle: "header",
               columns:
                                grid.Columns
                             (grid.Column("orderId", "Order ID"),
                                grid.Column("employee.firstName", "Name"),
                                 grid.Column("orderDate", "Date"),
                                 grid.Column("orderstatu.statusName", "Status"),
                                 grid.Column(format: @<a href="~/OrderAndHistory/Edit?id=@item.orderId">Edit</a>),
                                 grid.Column(format: @<a href="~/OrderAndHistory/LoadCategory?id=@item.orderId">View</a>),
                                 grid.Column(format: @<a href="~/OrderAndHistory/ReciveOrder?id=@item.orderId">Recive Order</a>)
                   ), mode: WebGridPagerModes.Numeric)
                </div>
            </div>

        }
    </div>

    </center>
    </div>
    

    <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy'
            });
        });        
        $('#saveOrder').click(function (e) {
            e.preventDefault();
            if ($('#datepicker').val().length < 1) {
             document.getElementById("errorlable").innerHTML = "Please select a date";
            }
            else {
                $.ajax({
                    type: 'POST', url: '@Url.Action("SaveNewOrder")', dataType: 'json', data: { Date: $('#datepicker').val() },
                    success: function (ok) {
                        location.reload();
                        document.getElementById("errorlable").innerHTML = "Order Saved";
                        //$("#OrderGrid2").
                    },
                    error: function (ex) {
                      document.getElementById("errorlable").innerHTML = "Order Not saved, Try again ";

                    }

                });
            }
       });
        });
    </script>
