@model IEnumerable<PharmacyManagmentSystem.Models.designation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.designation1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation2.designation1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.designation1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation2.designation1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.designationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.designationId })          
        </td>
    </tr>
}

</table>
