@model PharmacyManagmentSystem.Models.order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
