@model IEnumerable<PharmacyManagmentSystem.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Place Order")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderStatus)
        </th>
        <th>
            @Html.Label("User Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.orderId.ToString()+" Place/Edit an Order ", "LoadCategory", "PlaceAnOrder")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Users_userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderId })
        </td>
    </tr>
}

</table>
