@model PharmacyManagmentSystem.Models.supplier

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>supplier</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.supplierId)

        <div class="form-group">
            @Html.LabelFor(model => model.supplierName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.supplierName)
                @Html.ValidationMessageFor(model => model.supplierName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.supplierContactNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.supplierContactNumber)
                @Html.ValidationMessageFor(model => model.supplierContactNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.supplierEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.supplierEmail)
                @Html.ValidationMessageFor(model => model.supplierEmail)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
